body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;	
}

.ryu {
	float: left;
}

.ryu-still, 
.ryu-ready, 
.ryu-throwing {
	width: 659px;
	height: 494px;
}
/* for some reason, developer tools will not let me switch between
the ready and throwing image unless display is seperate for the two */
.ryu-ready {
	display: none;
}
.ryu-throwing {
	display: none;
}

.ryu-still {
	background-image: url(../images/still.png);
	display: block;
}

.ryu-ready {
	background-image: url(../images/ready.gif);
}

.ryu-throwing {
	background-image: url(../images/throwing.png);
}

.ryu-still, 
.ryu-ready, 
.ryu-throwing, 
.hadouken {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url(../images/hadouken.gif);
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	top: 170px;
	left: 520px;
	z-index: 10;
	
}
